 @import url('https://fonts.googleapis.com/css2?family=Alexandria:wght@100..900&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

 * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
 }



   
  
    $fontText: "Inter";
    $fontFeatureText: "Alexandria";
    $fontTitle: "Alexandria";
    $fontBtn : "Alexandria";

    $colorGreen: #9DFF3A;
    $colorText:#999999;
    $colorTitle: #E5E5E5;
    $bgColor:#000;
    $textColor: #fff;
    $bgFeature: rgba(255, 255, 255, 0.04);




 @mixin font($fontSize, $fontWeight, $lineHeight) {

   font-size: $fontSize;
   font-weight: $fontWeight;
   line-height: $lineHeight;
 }

 %styles-btn {
    width: 100%;
    font-family: $fontBtn,sans-serif;
    @include font(14px, 400 ,17px);
    color: $colorGreen;
    border: 1px solid #2E2E2E;
    border-radius: 24px;
    background: transparent;
 }

 %styles-title {
    font-family: $fontTitle,sans-serif;
    @include font(48px,400 ,48px);
    text-transform: capitalize;
    color: $colorTitle;
    text-align: center;
    margin-bottom: 20px;
 }

 %styles-text {
    font-family: $fontText,sans-serif;
    text-align: center;
    @include font(18px,400 ,25px);
    color: $colorText;
    margin: 0 auto;
 }

 %container {
        padding: 0 20px;
        max-width: 1240px;
        margin: 0 auto;
 }

    .features {
        padding: 80px 0;
        background-color: $bgColor;

        &__container {
            @extend %container;
        }

        &__btn {
            max-width: 100px;
            display: block;
            margin: 0 auto;
            padding: 11px;
            margin-bottom: 20px;
            @extend %styles-btn;
        }

        &__heading {
            @extend  %styles-title;
          
        }

        &__text {
            max-width: 644px;
            @extend %styles-text;
            padding: 0px 10px;
            margin-bottom: 80px;
        }

        &__wrapper {
            width: 100%;
            display: flex;
            column-gap: 24px;
        }
    }

    .feature {

        width: calc((100% - 48px) / 3);
        padding: 48px 36px;
        background: $bgFeature;
        border-radius: 12px;
        border: 1px solid ;
        border-image-source: linear-gradient(272.36deg, rgba(77, 77, 77, 0.6) -14.37%, rgba(179, 179, 179, 0.6) 116.83%);
        border-image-slice: 1;


        &__wrapper-image {
            width: 48px;
            height: 48px;
            margin: 0 auto;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 36px;
        }

        &__heading {
            font-family: "Inter",sans-serif;
            @include font(20px,400 ,28px );
            text-align: center;
            color: $colorTitle;
            margin-bottom: 16px;
            }

        &__info {
            font-family: 'Alexandria',sans-serif;
            @include font(16px,400 ,20px );
            text-align: center;
            color: $colorText;

            
        }    
    }

    .statistics {
     background-color: #0F0F0F;
     padding: 120px 0;

        &__container {
           @extend %container;
        }

        &__btn {
            @extend %styles-btn;
            display: block;
            margin: 0 auto;
            padding: 11px;
            margin-bottom: 20px;
            max-width: 104px;
        }

        &__heading {
            @extend %styles-title;
        }

        &__text {
            @extend %styles-text;
            max-width: 704px;
            padding: 0 30px;
            margin-bottom: 72px;
        }

        &__wrapper {
            max-width: 484px;
            width: 100%;
            display: flex;
            column-gap: 72px;
            margin: 0 auto;
        }

    }

    .statistic {
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        width: 100%;

        &__num {
            font-family: 'Alexandria',sans-serif;
            @include font(48px,400 ,48px);
            text-align: center;
            text-transform: capitalize;
            color: $colorGreen;
        }

        &__label {

            font-family: 'Inter',sans-serif;
            font-weight: 400;
            font-size: 20px;
            line-height: 28px;
            text-align: center;
            color: #999999;
        }
    }

    .banner {
        padding: 88px 0;
        background-color: $bgColor;

        &__container {
            @extend %container;
            display: flex;
            align-items: center;

        }

        &__info {
            max-width: 688px;
            width: 100%;
            
        }

        &__btn {
            max-width: 137px;
            @extend %styles-btn;
            padding: 9px;
            margin-bottom: 24px;
            display: flex;
            column-gap: 10px;
            justify-content: center;
            align-items: center;
        }

        &__heading {
            @extend %styles-title;
            text-align: left;
            @include font(64px,700 ,70px );
            margin-bottom: 24px;
        }

        &__text {
            font-family: $fontText,sans-serif;
            color: $colorText;
            @include font(20px,400 ,28px );
            margin-bottom: 40px;
            max-width: 583px;
        }

        &__buttons {
            display: flex;
            column-gap: 20px;
            width: 100%;
        }

        &__btn_primary {
            max-width:151px;
            @extend %styles-btn;
            @include font(18px,400 ,22px );
            color: #000000;
            border-radius: 40px ;
            background-color: $colorGreen;
            padding: 13px;
        }

        &__btn_secondary {
            max-width: 190px;
            @extend %styles-btn;
            @include font(18px,400 ,22px );
            display: flex;
            align-items: center;
            justify-content: center;
            column-gap: 11px;
            border: 1.5px solid #B3B3B3;
            color: #E5E5E5;
            border-radius: 40px;
            padding: 13.5px;
        }

         &__wrapper-image {
            width: 512px;
            overflow: hidden;
        }

    &__image {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

   
    

